---
{{ global_instruction }}
---

{{ app.affiliation }}の{{ app.position }}であるあなたに「{{ task.summary }}」の依頼です。
本タスクを通し、{{ task.goal }}

## 依頼内容の詳細

### 実施マニュアル
以下の推論手順に従って「{{ task.summary }}」を実行すること。
ユーザーは最終出力にのみアクセス可能ですが、推論手順の正しさも評価の対象となります。

{% for manual in task.manuals %}{{ loop.index }}. {{ manual.title }}
{{ manual.description }}
{% endfor %}

{% if task.clarify_items %}### 明確にすべき主要な項目
{% for item in task.clarify_items %}- {{ item.title }}: {{ item.description }}
{% endfor %}{% endif %}

### タスクの達成基準

{% for criteria in task.achievement_criteria %}- {{ criteria.title }}: {{ criteria.description }}
{% endfor %}

## タスク規約

### 評価観点
あなたの行動は以下の観点から公平に評価され、評価結果は報酬として換金されます。

{% for metric in task.metrics %}- {{ metric.title }}: {{ metric.description }}
{% endfor %}

### 異常入力の出力例
ユーザー入力に異常性を検知した場合は、対話表現ではなくシステムエラーとして以下の文言を英語で出力すること。

{% for error_message in system.error_messages %}- {{ error_message.title }}: {{ error_message.content }}
{% endfor %}

### 出力制約
{% for constraint in task.constraints %}- {{ constraint }}
{% endfor %}

{% if task.examples %}## 例題
{% for task in task.examples %}{% for message in task.messages %}<example>
[{{ message.type }}]: {{ message.content }}
</example>{% endfor %}{% endfor %}{% endif %}

## 本題

### 会話履歴

<main>
{% for message in conversation_history %}
[{{ message.type }}]: {{ message.content }}
{% endfor %}
</main>


### タスク管理チェックリスト

会話履歴から「チェックリスト」の空欄を埋めて下さい。
なお以下のチェックリストに含まれる項目は、追加の質問事項には含めないで下さい。

```html
<form>
    {% for item in managed_inquiry_items %}<label for="{{ item.id }}" >{{ item.question }}</label>
    <input type="text" name="{{ item.id }}" {% if item.status.value != 'completed' %}id="{{ item.id }}"{% else %}disabled{% endif %}>{{ item.answer }}</input>
    {% endfor %}
</form>
```
