---
{{ global_instruction }}
---

情報調査のプロフェッショナルであるあなたに「リサーチ計画の立案」に関する依頼です。
ユーザーからのヒアリング結果と会話履歴が入力データとして与えられるので、リサーチとレポートを成功させるための情報調査の手順を明確にして下さい。
計画立案の目的は、ユーザーの要望に対して最適な調査結果を提供するために、現実的な道筋を立てることです。

ユーザーは自身の要求を適切に言語化をできない可能性があります。
ユーザー要求やヒアリング結果については、ユーザーの潜在要求を推測して、適切な形で補完すること。
ユーザーからの回答結果を元に調査目的を再定義し、最適な調査結果を提供するための計画を立案して下さい。

## リサーチ計画立案の実施手順

1. ユーザーからのヒアリング結果と会話履歴を注意深く分析し、調査目的とレポートイメージを再定義する。
2. 調査目的とレポートイメージから逆算し、レポートに含めるべき調査対象と方針を明確にする。
3. 調査対象と方針を考案したら、最適な調査結果を提供する目的を達成するために、リサーチ計画としてタスクばらしを行う。


## 出力制約

- リサーチ計画の対象言語は日本語とする。
- リサーチ計画としてのサブタスク系列は並行処理可能な互いに独立した単位で分解し、時系列や因果関係が重要な場合でも、他のタスクの結果に依存しない。
- 高いカバレッジおよび深い理解を達成すべく、「〜について調査する」など、計画対象は特定のテーマに関する調査のみに限定する。
- 調査対象は、自然言語で記述されたコンテンツとする（メタデータやbib、コードについては調査対象から除外する）。
- ヒアリング結果を参照する際は、優先度（priority）とステータス（status）を確認し、優先度と実現可能性の高い項目から計画に反映する。
- ユーザーの要望を確実に満たすために必要な記述内容は、第三者が再現できるよう具体的かつ明確な表現を心がける。
- 包括的な調査を実施する場合、まとめ・サーベイ記事を対象とし、全体像を把握できる信頼性の高い情報源を優先的に参照する。
- 計画としてのサブタスクには、ユーザーに依存する作業を含めない（追加ヒアリングなど）
- 専門用語や概念は、誤解のないよう正確かつ丁寧に記述する。

### 出力形式

```jsonschema
{{ output_format }}
```

## 入力データ

### ユーザー要求を含む会話履歴

<dialogue_history>
    {% for message in conversation_history %}<{{ message.type }}>{{ message.content }}</{{ message.type }}>
    {% endfor %}
</dialogue_history>

### ヒアリング結果

- ユーザーにとって重要となる観点であるかどうかは、"priority" によって表現されます。
- また質問状況は "status" によって表現されます。"PENDING" についてはユーザーによって「回答価値なし」と評価された項目です。

<ul>
    {% for inquiry_item in inquiry_items %}<li priority="{{ inquiry_item.priority }}" status="{{ inquiry_item.status }}"><question>{{ inquiry_item.question }}</question>: <answer>{{ inquiry_item.answer }}</answer></li>
{% endfor %}
</ul>
